body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px !important;
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Light.ttf');
    font-weight: 500;
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.ttf');
    font-weight: 700;
}

/* menu */
.container-fluid {
    max-width: 1400px;
    margin: 0 auto;
}
.menu {
    background: rgba(0,0,0,0.6);
    width: 100%;
    z-index:9999;
    position: fixed;
    _position:absolute;
    top: 0px;
}
li.nav-item {
    margin-right: 0.8em;
    margin-left: 0.8em;
}
a.navbar-brand {
    width: 150px;
}
.navbar-expand-lg .navbar-collapse {
    justify-content: flex-end;
}
li.nav-item:last-child {
    margin-right: 0;
}
/* banner */
.navbar-light .navbar-nav .nav-link {
    color: #fff;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #fff;
}
.carousel-indicators .active {
    opacity: 1;
    background: #95111e;
}
.carousel-indicators li {
    width: 15px;
    height: 15px;
    background-color: transparent;
    border: 3px solid #95111e;
    border-radius: 50%;
    margin-bottom: 30px;
}
.navbar-light .navbar-toggler {
    color: #fff;
    border-color: transparent;
    outline: none;
}
.carousel-control-prev-icon {
    background-image: url(../images/prev.png);
}
.carousel-control-next-icon {
    background-image: url(../images/next.png);
}
.carousel-control-next-icon, .carousel-control-prev-icon {
    width: 30px;
    height: 50px;
}









/* intro */
.box-intro {
    background: url(../images/bg.jpg);
}
.txt-intro {
    color: #fff;
    padding: 115px 0px;
}
.txt-intro p {
    font-size: 14px;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 1px;
}
.txt-intro h4 {
    font-size: 26px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
}
.navbar-light .navbar-toggler-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,0.9)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}
.parsley-errors-list {
    position: absolute;
    bottom: -45px;
    list-style: none;
    padding: 0;
    color: red;
    font-weight: 500;
    letter-spacing: 1px;
}






/* library */
.tittle-project {
    padding: 40px 0px;
}
.content-project li {
    display: inline-block;
}
.item-right p {
    margin: 0;
    font-size: 12px;
    color: #885e22;
    font-weight: 600;
}
.item-right2 p {
    margin: 0;
    font-size: 14px;
    font-weight: 500;
}
.item-right2 h4 {
    font-weight: 700;
    font-size: 24px;
}
.eee {
    align-self: flex-end;
    padding: 0;
}
.content-project ul {
    justify-content: center;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #00908e;
    border: 2px solid #00908e;
}
.content-project .nav-link {
    width: 230px;
    border-radius: 0;
    text-align: center;
    font-weight: 700;
    color: #a12b15;
    border: 2px solid #a12b15;
}
#isotope {
    background: #eaeae9;
    position: relative;
}
.isotope-gird {
    position: relative;
}
.isotope-gird {
    padding-bottom: 40px;
}
.line1 {
    position: absolute;
    right: 0;
    width: 400px;
}
.line2 {
    position: absolute;
    bottom: 0;
    left: -140px;
}
.title-box-isotope {
    max-width: 230px;
    margin: 50px auto;
}
h4.text-center.headline-isotope {
    position: relative;
    margin-bottom: 0px;
    border-bottom: 2px solid #a12b15;
    padding-bottom: 12px;
}
h4.text-center.headline-isotope:after {
    content: '';
    width: 90px;
    height: 8px;
    background: #eea300;
    display: block;
    position: absolute;
    bottom: -5px;
    right: 50%;
    transform: translate(50%,0%);
}
button.btn.btn-controls:focus {
    box-shadow: none;
    color: #a12b15;
    
}
button.btn.btn-controls {
    font-weight: 700;
    font-size: 16px;
}


.headline-isotope {
    color: #a12b15;
    font-size: 26px;
    font-weight: 800;
}
.content-project li {
    display: inline-block;
    margin-right: 25px;
}
.list-projects {
    margin: 20px 0px;
}
.imgg {
    position: relative;
    overflow: hidden;
    box-shadow: 0 7px 14px rgba(0, 0, 0, 0.3);
    border: 1px solid #693d10;
}
.title {
    position: absolute;
    color: #fff;
    padding: 10px;
    width: 100%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), #000000);
    bottom: 0;
    z-index: 9;
    transition: all .3s ease;
}
.txt-1 {
    color: #eea300;
    font-weight: 600;
}
.bg {
    width: 100%;
    height: 100%;
    opacity: 0.6;
    background-color: #693d10;
    position: absolute;
     bottom: 0;
     z-index: 1;
     transition: all .3s ease;
    transform: scale(0.1);
    opacity: 0;
    visibility: hidden;
}

.hover-bg{
    transition: all .3s ease;
    transform: scale(1);
    opacity: 0.6;
    visibility: visible;
}



.title-1 {
    position: absolute;
    color: #fff;
    top: 50%;
    right: 50%;
    width: 100%;
    text-align: center;
    z-index: 9;
    transition: all .3s ease;
    transform: translate(50%, -350%);
    opacity: 0;
    visibility: hidden;
}

.title-1-hover{
    position: absolute;
    color: #fff;
    top: 50%;
    right: 50%;
    width: 100%;
    transform: translate(50%, -50%);
    transition: all .3s ease;
    opacity: 1;
    visibility: visible;
}
.title-none{
    transition: all .3s ease;
    transform: translateX(-300px);
}

/* tagline */
.box-item {
    background: #a12b15;
    color: #fff;
    padding: 50px 0px;
}
.box-item p {
    margin-bottom: 0;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 1px;
}
.box-item h4 {
    font-size: 26px;
    margin-bottom: 20px;
    font-weight: 800;
}


/* footer */
.contact {
    background: #eaeae9;
    padding: 40px 0px;
}
.loogo-footer {
    padding-bottom: 50px;
    width: 150px;
}
.lienhe h4 {
    font-size: 24px;
    font-weight: 700;
    margin: 0;
}
.lienhe p {
    font-size: 14px;
    font-weight: 700;
}
.social img {
    max-width: 35px;
}
.content p {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 600;
}
.contact-right .form-control {
    border: 1px solid #693d10;
    border-radius: 0;
    color: #232323;
    font-size: 12px;
    border-radius: 3px;
}
button.btn.btn-primary {
    width: 100%;
    background: #693d10;
    border: none;
    font-weight: 600;
}
.social {
    padding-top: 40px;
}
a.ppp {
    padding-right: 10px;
}
.contact .col-md-5 {
    max-width: 440px;
    padding-left: 0;
}
button.btn.btn-controls::after {
    content: "/";
    padding-left: 20px;
    color: #000;
}
button.btn.btn-controls:last-child:after {
    content: none;
}
.sl-wrapper .sl-navigation button.sl-next {
    right: 15%;
}
.sl-wrapper .sl-navigation button.sl-prev {
    left: 15%;
}
.sl-wrapper .sl-image .sl-caption {
    color: #000;
    background: none;
}

.content a {
    color: #000;
    text-decoration: none;
}

.sl-overlay {
    background: #835f3b;
    opacity: 0.9;
}
.fa-chevron-left:before {
    color: #fff;
}
.fa-chevron-right:before {
    color: #fff;
}

.icon {
    position: absolute;
    bottom: 8px;
    right: 10px;
}
.form-group {
    margin-bottom: 1.8rem;
    position: relative;
}
.icon i{
    color: #b6c6c9;
}
.place{
    height: 40px;
    color : #232323;
    font-weight: 700;
}
.place::placeholder{
    color: #b6c6c9;
    font-weight: 700;
}

.navbar-brand{
    transition: all .3s ease; 
}
.scroll-logo{
    transition: all .3s ease;
    transform: scale(0.7);
}
.menu{
    transition: all .7s ease;
}
.menu-scroll{
    height: 100px;
    transition: all .7s ease;
    transform: scaleY(0.9);
    margin-top: -5px;
}
.navbar-light-scroll{
    transform: translateY(-20px);
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #fff;
    font-weight: 600;
    transition: all .5s ease;
}


@media only screen and (max-width: 768px) {
    /* menu */
    .menu-scroll {
        height: 60px;
    }
    .scroll-logo {
        transform: scale(1);
    }
    .navbar-light-scroll {
        transform: translateY(0);
    }
    .navbar-light .navbar-brand {
        color: rgba(0,0,0,.9);
        width: 55px;
    }
    .navbar-nav {
        margin-top: 12px;
    }
    .carousel-control-next-icon, .carousel-control-prev-icon {
        width: 10px;
        height: 20px;
    }
    .carousel-indicators li {
        width: 10px;
        height: 10px;
        border: 2px solid #95111e;
        margin-bottom: 0px;
    }
    /* intro */
    .txt-intro h4 {
        font-size: 20px;
        line-height: 1.5;
    }
    .txt-intro {
        padding: 85px 0px;
    }
    .txt-intro p {
        font-size: 12px;
        text-align: justify;
        
    }
    .item-right2 p {
        font-size: 12px;
    }
    /* library */
    .none-mobile {
        display: none;
    }
    .sl-caption.titlePopup.pos-bottom {
        padding: 5px 10px;
    }
    .content-project .nav-link {
        width: 150px;
        font-size: 13px;
    }
    .eee {
        padding: 0px 15px;
    }
    .content-project ul {
        flex-wrap: nowrap;
    }
    .item-right {
        margin-top: 10px;
    }
    .txt-1 {
        font-size: 14px;
    }
    div#pills-profile {
        padding: 30px 0px;
    }
    .box {
        display: inherit;
    }
    button.btn.btn-controls {
        font-size: 10px;
        padding: 0px 6px;
    }
    /* tagline */
    .box-item h4 {
        font-size: 24px;
        margin-bottom: 14px;
    }
    .box-item p {
        font-size: 12px;
    }
    /* footer */
    .content p {
        font-size: 12px;
    }
    .loogo-footer {
        padding-bottom: 30px;
        width: 105px;
    }
    .contact .col-md-5 {
        padding-left: 15px;
        padding-top: 50px;
    }
    .social {
        padding-top: 30px;
    }
    .lienhe p {
        font-size: 12px;
    }
}
@media only screen and (max-width: 1024px) {
    .sl-wrapper .sl-navigation button.sl-prev {
        left: 3%;
    }.sl-wrapper .sl-navigation button.sl-next {
        right: 3%;
    }
}
@media only screen and (max-width: 1440px) and (min-width: 1280px) {
    .sl-wrapper .sl-navigation button.sl-prev {
        left: 5%;
    }.sl-wrapper .sl-navigation button.sl-next {
        right: 5%;
    }
}